<div class="container">
  <div class="page">
    <div class="public-itens" overflow="scroll">
      <div class="public-logo"></div>
      <div class="marge-page">
        <ng-container *ngFor="let item of list; let index = index">
          <div class="fullCard">
            <div *ngIf="item.isReadingMore">
              <div class="backBtn" (click)="onComments(item)"></div>
              <div class="post marge-top" [style.backgroundColor]="item.color">
                <div class="oneComment-scroll">
                  <img class="abcde" src="../../assets/img/blank-profile.png" />
                  <label class="prof prof-Name"> {{name}} </label>
                  <label class="prof prof-Work"> {{work}} </label>
                  <div class="scrollAdjust">
                    <app-notes-postits [item]="item" [cardIndex]="index">
                    </app-notes-postits>
                  </div>
                  <div
                    class="comments"
                    [style.backgroundColor]="item.color"
                    [class]="item.isReadingMore ? 'readMoreOpen' : 'readMoreClosed' "
                    *ngFor="let element of item.comments; let commentIndex = index"
                  >
                    <div class="oneComment">
                      <img class="oneComment-img" src="{{element.photoUrl}}" />
                    </div>
                    <div class="oneComment-name oneComment-align">
                      {{element.comName}}
                    </div>
                    <div class="oneComment-content oneComment-align">
                      {{element.comment}}
                    </div>
                    <div class="oneComment-space"></div>
                  </div>
                  <div class="oneComment-space"></div>
                </div>
                <div class="oneComment-space"></div>
                <div class="prof-Low" [style.backgroundColor]="item.color">
                  <input
                    #commentInput
                    class="prof-Input"
                    placeholder="Inserir comentário"
                    [style.backgroundColor]="item.color"
                  />

                  <button
                    class="input-btn"
                    (click)="onPostNote(item, commentInput)"
                  >
                    Publicar
                  </button>

                  <ion-icon
                    class="prof-Button prof-Button-2"
                    name="heart-outline"
                    [name]="item.likeIconName"
                    (click)="onClickClass(item)"
                    ngClass="heart-outline"
                  ></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="end"></div>
    </div>
    <div class="nav-bar">
      <button class="btn btn2" (click)="onNotasButton()">
        <img src="../../assets/img/calendar-select.png" />
      </button>
      <button class="btn btn2" (click)="onPublicoButton()">
        <img src="../../assets/img/unselect-home.png" />
      </button>
      <button class="btn btn2" (click)="onPerfilButton()">
        <img src="../../assets/img/user.png" />
      </button>
    </div>
  </div>
</div>
